<h2 #mainHeader>Learning Templates</h2>
<hr />
<ng-container *ngTemplateOutlet="pageBlock"></ng-container>

<!-- 
    mainHeader and counter belong to the enclosing 
    playground.component.html 
-->
<ng-template #pageBlock>
  <h3>Main Header is: {{ mainHeader.textContent }}</h3>
  <hr />
  <h4>Current Counter is {{ counter }}</h4>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.
  </p>
</ng-template>
